/* Video responsive */
iframe,
video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

/* Sidebar Recent Posts */
.sidebar .nav__list {
  background: #111;
  border-radius: 12px;
  padding: 15px;
}

.sidebar .nav__list a {
  color: #ddd;
}

.sidebar .nav__list a:hover {
  color: #4db6ff;
}

/* Post card hover */
.archive__item {
  transition: transform .2s;
}

.archive__item:hover {
  transform: translateY(-3px);
}